@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url(./assets/Montserrat/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url(./assets/Montserrat/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: 500;
    src: url(./assets/Montserrat/MontserratAlternates-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Libre Baskerville';
    font-weight: 700;
    src: url(./assets/Libre_Baskerville/LibreBaskerville-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Luxurious Roman';
    font-weight: 400;
    src: url(./assets/Luxurious_Roman/LuxuriousRoman-Regular.ttf) format('truetype');
}



p {
    font-family: 'Montserrat';
    font-weight: 400;
}

p.title {
    font-family: 'Montserrat';
    font-weight: 700;
}

p.undertitle {
    font-family: 'Montserrat Alternates';
    font-weight: 500;
}

h1 {
    font-family: 'Luxurious Roman';
    font-weight: 400;
}

h2 {
    font-family: 'Libre Baskerville';
    font-weight: 700;
}

header {
    width: 100%;
    position: fixed;
    background-color: #2D2F40;
    padding: 10px;
    margin: 0px;
    text-align: center;
    display: inline-block;
}

.nav-link {
    color: #E3EDFA;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 10px;
}

.nav-link:hover {
    background-color: #8999b5;
    cursor: pointer;
}

.nav-link:active {
    background-color: #8999b5;
}

main {
    background-color: #ffffff;
    text-align: center;
}

.container {
    border: 1px solid black;
    background: #E3EDFA;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 70%;
}

.contact {
    background: #8999B5;
}

.animation {
    width: 100%;
}

footer {
    background-color: #2D2F40;
    color: #ffffff;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}